*{
  margin:0;
  Padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: none;

}

html, 
body{
  height: 100%;
  width: 100%;
  background-color: #111;
  /* margin: 0;
  padding: 0; */
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.top img{
  height: 30px; 
  width: 32px;
  border-radius: 100%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;

}

.centre {
  background-color: red;
}

.centre h3{
  font-size: 17px;
  font-weight: 400;
}
.centre h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.centre h2 {
  font-size: 20px;
}

.tag{
  display: flex;
  gap: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  /* padding: 15px 0px 0px 0px; */
  padding-top: 15px;

}