@import "tailwindcss";


/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    /* background: #000;
    color: #bababa; 
}
html,
body {
    height: 100%;
    width: 100%;
} 
    
*/
